<%- include('../includes/head.ejs')%>
  <link rel="stylesheet" href="/css/product.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/forms.css">

</head>

<body>
  <%- include('../includes/nav.ejs')%>
  <main>
    <% if (errorMessage) {%>
      <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <form class="login-form" action="/reset" method="POST">
      <fieldset>
        <legend>Send email for reset your password</legend>
        <div class="form-control">
          <label for="email">Email</label>
          <input type="email" autocomplete="off" name="email" id="email">
        </div>
        <div class='flex'>
          <button class="btn" type="submit">Reset password</button>
        </div>
      </fieldset>
    </form>
  </main>
  <%- include('../includes/foot.ejs')%>
