<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
   <%- include('../includes/nav.ejs') %>

    <main>
        <form class="login-form" action="/signup" method="POST" novalidate>
            <fieldset>
                <legend>Please signup</legend>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" autocomplete="off" name="email" id="email"
                    value="<%= oldData.email%>" class="<%= validationErrors.find(err => err.param === 'email') ? 'invalid': ''%>"
                >
                <% if (validationErrors.find(err => err.param === 'email') ) {%>
                <span style='font-size: 0.8em; color:red'><%= (validationErrors.find(err => err.param === 'email')).msg %></span>
                <% } %>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" autocomplete="off" name="password" id="password"
                value="<%= oldData.password%>" class="<%= validationErrors.find(err => err.param === 'password') ? 'invalid': ''%>">
                <% if (validationErrors.find(err => err.param === 'password') ) {%>
                    <span style='font-size: 0.8em; color:red'><%= (validationErrors.find(err => err.param === 'password')).msg %></span>
                <% } %>
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" autocomplete="off" name="confirmPassword" id="confirmPassword"
                class="<%= validationErrors.find(err => err.param === 'confirmPassword') ? 'invalid': ''%>"
                >
                <% if (validationErrors.find(err => err.param === 'confirmPassword') ) {%>
                    <span style='font-size: 0.8em; color:red'><%= (validationErrors.find(err => err.param === 'confirmPassword')).msg %></span>
                <% } %>
            </div>
            <button class="btn" type="submit">Signup</button>
            </fieldset>
        </form>
    </main>

<%- include('../includes/foot.ejs') %>
