<%- include('../includes/head.ejs')%>
  <link rel="stylesheet" href="/css/product.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/forms.css">

</head>

<body>
  <%- include('../includes/nav.ejs')%>
  <main>
    <% if (errorMessage) {%>
      <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <form class="login-form" action="/password" method="POST">
      <fieldset>
        <legend>Update your password</legend>
        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" autocomplete="off" name="password" id="password">
        </div>
        <div class="form-control">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" autocomplete="off" name="confirmPassword" id="confirmPassword">
        </div>
        <div class='flex'>
          <input type="hidden" name="resetToken" value="<%= resetToken %>">
          <input type="hidden" name="email" value="<%= userEmail %>">
          <button class="btn" type="submit">Update password</button>
        </div>
      </fieldset>
    </form>
  </main>
  <%- include('../includes/foot.ejs')%>
