<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../includes/nav.ejs')%>
<main>
    <% if (errorMessage) {%>
        <p class='invalid-message'><%= errorMessage %></p>
    <% }%>
    <form class="product-form"
        novalidate
        action="<% if (!editing) {%>/products <% } else { %>/products/<%= product.id%>?_method=PUT<%}%>"
        method="POST"
        enctype='multipart/form-data'>
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" autocomplete="off" name="title" id="title"
            class="<%= validationErrors.find(err => err.param === 'title') ? 'invalid': ''%>"
            value='<% if (editing || hasError) {%><%= product.title%><% } else {%><% } %>'>
            <% if (validationErrors.find(err => err.param === 'title') ) {%>
                <span style='font-size: 0.8em; color:red'><%= (validationErrors.find(err => err.param === 'title')).msg %></span>
            <% } %>
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="number" autocomplete="off" name="price" id="price" step='0.01'
            class="<%= validationErrors.find(err => err.param === 'price') ? 'invalid': ''%>"
            value='<% if (editing || hasError) {%><%= product.price %><% } else {%>0.00<% } %>'>
            <% if (validationErrors.find(err => err.param === 'price') ) {%>
              <span style='font-size: 0.8em; color:red'><%= (validationErrors.find(err => err.param === 'price')).msg %></span>
            <% } %>
        </div>
        <div class="form-control">
                <label for="image">Image</label>
                <input
                    type="file"
                    autocomplete="off"
                    name="image"
                    id="image">
            </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description"
              class="<%= validationErrors.find(err => err.param === 'description') ? 'invalid': ''%>"

              rows="5"><% if (editing || hasError) {%><%= product.description %><% } else {%><% } %></textarea>
            <% if (validationErrors.find(err => err.param === 'description') ) {%>
              <span style='font-size: 0.8em; color:red'><%= (validationErrors.find(err => err.param === 'description')).msg %></span>
            <% } %>
        </div>
        <div class='flex'>
            <button class="btn" type="submit"><% if(!editing) {%> Add Product <% } else {%>Edit product<% } %></button>
            <% if (editing) {%>
                <a href="/admin/products" class='btn'>Go back</a>
            <% } %>
        </div>

    </form>
</main>
<%- include('../includes/foot.ejs')%>
