<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
        <%- include('../includes/nav.ejs')%>

    <main>
        <% if(products.length > 0) {%>
         <div class="grid">
             <% products.forEach(product => {%>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.title%></h1>
                </header>
                <div class="card__image">
                    <img src="/<%= product.imageUrl%>" alt="<%= product.title%>">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$<%= product.price%></h2>
                    <p class="product__description"><%= product.description%></p>
                </div>
                <div class="card__actions">
                    <a href='/admin/products/<%= product.id%>/edit' class="btn">Edit</a>
                        <input type="hidden" name="productId" value="<%= product.id %>">
                        <button type="submit" class="btn danger" onclick="deleteProduct(this)">Delete</button>
                </div>
            </article>
            <% })%>
        </div>
        <% } else {%>
            <h1>No products found....</h1>
        <% }%>
        </main>
        <script src="/js/admin.js"></script>
<%- include('../includes/foot.ejs')%>

