<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/">
          <% if(path === '/') {%>
            <img src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/home_house_vector_symbol_pictogram-512.png" alt="" width="25" height="22">
          <% } else {%>
            <img src="https://images.vexels.com/media/users/3/157343/isolated/preview/fa058a304813b6d204d29253f5cb90d4-flat-home-house-icon-by-vexels.png" width="25" height="22">
          <% } %>
        </a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === `/products` ? `active`: `` %>" href="/products"
          >Products</a>
      </li>

      <% if (isAuthenticated) {%>
      <li class="main-header__item">
        <a class="<%= path === `/cart` ? `active`: `` %>" href="/cart">Cart</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === `/orders` ? `active`: `` %>" href="/orders">Orders</a>
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === `/admin/products/new` ? `active`: `` %>"
          href="/admin/products/new"
          >Add Product</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === `/admin/products` ? `active`: `` %>"
          href="/admin/products"
          >Admin products</a
        >
      </li>
      <% } %>
    </ul>
    <ul class="main-header__item-list">
        <% if (!isAuthenticated) {%>
        <li class="main-header__item">
            <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
        </li>
        <li class="main-header__item">
          <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
      </li>
        <% } %>
        <% if (isAuthenticated) {%>
        <% if (pageName) {%>
          <li class="main-header__item">
            <span style="color: yellow"><%= pageName%></span>
          </li>
        <% } %>
        <li class="main-header__item">
          <form action="/logout" method="post">
            <button type="submit">Logout</button>
          </form>
        </li>
        <% } %>
    </ul>
  </nav>
</header>
<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">

            <% if (pageName) {%>
              <li class="mobile-nav__item">
                <p>Hello, <%= pageName%>
              </li>
            <% } %>
            <li class="mobile-nav__item">
                <a href="/">
                  <% if(path === '/') {%>
                    <img src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/home_house_vector_symbol_pictogram-512.png" alt="" width="25" height="22">
                  <% } else {%>
                    <img src="https://images.vexels.com/media/users/3/157343/isolated/preview/fa058a304813b6d204d29253f5cb90d4-flat-home-house-icon-by-vexels.png" width="25" height="22">
                  <% } %>
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <% if (isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Add Product
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
            <% } %>
            <% if (!isAuthenticated) { %>
              <li class="mobile-nav__item">
                  <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
              </li>
              <li class="mobile-nav__item">
                  <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
              </li>
          <% } else { %>
              <li class="mobile-nav__item">
                  <form action="/logout" method="post">
                      <button type="submit">Logout</button>
                  </form>
              </li>
          <% } %>
        </ul>
</nav>
