<section class="pagination">
  <% if (pagination.lastPage > 1) { %>
    <% if (pagination.currentPage > 1) { %>
        <a href="?page=1">&laquo;</a>
    <% } %>
    <% if (pagination.counter !== 1) { %>
      <span class="disabled">…</span>
    <% } %>
    <% for (pagination.counter; pagination.counter<=pagination.lastPage; pagination.counter++) { %>
      <% if (pagination.currentPage == pagination.counter) { %>
        <a class="active" href="/?page=<%= pagination.currentPage%>"><%= pagination.currentPage%></a>
      <% } else { %>
        <a href="?page=<%= pagination.counter %>"><%= pagination.counter %></a>
      <% } %>
      <% if (pagination.counter == pagination.currentPage + 1 && (pagination.lastPage-1) !== pagination.currentPage) { %>
        <span class="disabled">…</span>
      <% break; } %>
    <% } %>
    <% if (pagination.currentPage != pagination.lastPage) { %>
      <a href="?page=<%= pagination.lastPage %>">&raquo;</a>
    <% } %>
  <% } %>
 </section>
