<%- include('includes/head.ejs')%>
<style>
    h1 {
        margin: 20px;
    }
</style>
</head>

<body>
  <%- include('includes/nav.ejs')%>
  <div class="centered">
    <h1><%= errorCode %></h1>
    <h1><%= textMessage%></h1>
    <% if (errorCode == 500) {%>
    <p>We're working on fixing this, sorry for inconvenience!</p>
    <% } %>
  </div>
<%- include('includes/foot.ejs')%>
