<%- include('includes/head.ejs')%>
<style>
    h1 {
        margin: 20px;
    }
</style>
</head>

<body>
    <%- include('includes/nav.ejs')%>

    <h1>Page Not Found!</h1>
<%- include('includes/foot.ejs')%>
