@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

main {
	padding: 1rem;
	margin: auto;
}

.image {
	height: 20rem;
}

.image img {
	height: 100%;
}

form {
	display: inline;
}

.centered {
	text-align: center;
}

.main-header {
	width: 100%;
	height: 3.5rem;
	background-color: #2451e3;
	padding: 0 1.5rem;
	display: flex;
	align-items: center;
}

.main-header__nav {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-header__item-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.main-header__item {
	margin: 0 1rem;
	padding: 0;
}

.main-header__item a {
	text-decoration: none;
	color: white;
}

.main-header__item-list button {
	background: inherit;
	color: white;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	padding: 0;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
	color: #ffeb3b;
}

.mobile-nav {
	width: 30rem;
	height: 100vh;
	max-width: 90%;
	position: fixed;
	left: 0;
	top: 0;
	background: white;
	z-index: 10;
	padding: 2rem 1rem 1rem 2rem;
	transform: translateX(-100%);
	transition: transform 0.3s ease-out;
}

.mobile-nav.open {
	transform: translateX(0);
}

.mobile-nav__item-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.mobile-nav__item {
	margin: 1rem;
	padding: 0;
}

.mobile-nav__item a {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
	padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
	background: #2451e3;
	color: white;
	border-radius: 3px;
}

#side-menu-toggle {
	border: 1px solid white;
	font: inherit;
	padding: 0.5rem;
	display: block;
	background: transparent;
	color: white;
	cursor: pointer;
}

#side-menu-toggle:focus {
	outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
	color: #ffeb3b;
	border-color: #ffeb3b;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	z-index: 5;
	display: none;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
}

.card {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
	padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
	margin: 0;
}

.card__image {
	width: 100%;
}

.card__image img {
	height: 35vh;
	width: 100%;
}

.card__actions {
	padding: 1rem;
	text-align: center;
}

.card__actions button,
.card__actions a {
	margin: 0 0.25rem 0.5rem;
}

.btn {
	display: inline-block;
	padding: 0.25rem 1rem;
	text-decoration: none;
	font: inherit;
	font-size: 15px;
	border: 1px solid #2451e3;
	color: #2451e3;
	background: white;
	border-radius: 3px;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

.btn-50 {
	width: 50%;
}

.btn-10 {
	width: 10%;
}

.ml-2 {
	margin-left: 2rem;
}
.btn:hover,
.btn:active {
	background-color: #2451e3;
	color: white;
}

.btn.danger {
	color: red;
	border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
	background: red;
	color: white;
}

@media (min-width: 768px) {
	.main-header__nav {
		display: flex;
	}

	#side-menu-toggle {
		display: none;
	}
}
.relative {
	position: relative;
}

.login-form {
	width: 20rem;
	max-width: 90%;
	margin: auto;
	display: block;
	margin-top: 3rem;
}

.user-message {
	margin: auto;
	width: 90%;
	border: 1px solid blue;
	background: #a1b2e9;
	padding: 1rem;
	border-radius: 5px;
	text-align: center;
}
.user-message--error {
	border: 1px solid red;
	background: #fda0a0;
}

.invalid-message {
	background: red;
	width: 40%;
	margin: auto;
	text-align: center;
}

.pagination {
	text-align: center;
	margin-top: 2rem;
}

.pagination a {
	text-decoration: none;
	color: blue;
	padding: 0.5rem;
	border: 2px solid #2451e3;
	margin: 0.5rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active{
	background: #2451e3;
	color: white;
}

.pagination span.disabled {
	border: none;
}
.m-1 {
	margin: 1rem;
}

