<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/cart.css">

</head>
<body>
<%- include('../includes/nav.ejs')%>
  <main class='centered'>
    <ul class='cart__item-list'>
      <% products.forEach(({title, cartItem, id, price}) => { %>
          <li class='cart__item'>
              <p><%= title %> (<%= cartItem.quantity %>)</p>
          </li>
      <% }) %>
    </ul>
    <h2>Total: <%= totalSum %>$</h2>
    <a href="/cart" class="btn btn-50 m-1">Return back</a>
    <div>
      <form action="/orders" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_tbjsYT1Qy4uFMAMCEogVy3x300uGV3GQrl"
          data-amount="<%= totalSum * 100%>"
          data-name="Your Order"
          data-description="All the items you ordered"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-currency="usd">
        </script>
      </form>
    </div>
  </main>
<%- include('../includes/foot.ejs')%>
