<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/nav.ejs')%>
  <main class='centered'>
    <h1>Order details page</h1>
    <h2>Order #<%= order.id%></h2>
    <hr>
    <% order.products.forEach(p => {%>
      <p class='relative'>
        <b><%= p.title%></b> 
        <%= p.price%>$ (<%= p.orderItem.quantity%>)
      </p> 
      <% }) %>
      <hr>
      <p>
        Total order price: <%= order.products.reduce((sum, i) => (sum+i.price*i.orderItem.quantity), 0)%>$   
      </p>
      <p>
        Order data: <%= order.createdAt.toDateString() %>
      </p>        
      <a href="/orders" class='btn btn-50'>Go back</a>
    
    </main>
<%- include('../includes/foot.ejs')%>