<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
        <%- include('../includes/nav.ejs')%>

    <main>
        <% if (orders.length == 0) {%>
        <h1 class='centered'>Still no orders at your account</h1>
        <% } else {%>
            <ul style="list-style-type: none">
                <% orders.forEach((order, index) => { %>
                    <li>
                        <h2> Order # <%= ++index %> -
                            <%= order.products.reduce((sum, i) => (sum+i.price*i.orderItem.quantity), 0)%>$ - <a href="/orders/<%= order.id %>/invoice">Invoice</a>
                            <br/>
                        </h2>
                        <h4><%= order.createdAt.toDateString() %> <a href="/orders/<%= order.id %>" class='btn btn-10 ml-2'>Details</a>
                        </h4>
                    </li>
                    <hr>
                <% }) %>
            </ul>
        <% }%>

        </main>
<%- include('../includes/foot.ejs')%>
