<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
        <%- include('../includes/nav.ejs')%>

    <main>
        <% if(products.length > 0) {%>
         <div class="grid">
             <% products.forEach(({title, price, imageUrl, description, id, userId}) => {%>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= title%></h1>
                </header>
                <div class="card__image">
                    <img src="/<%= imageUrl %>" alt="<%= title%>">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$<%= price%></h2>
                    <p class="product__description"><%= description %></p>
                </div>
                <div class="card__actions">
                    <a href="/products/<%= id %>/details" class='btn'>Details</a>
                    <% if (isAuthenticated && (userId !== ownerId)) {%>
                        <form action='/cart' method="POST">
                            <button class="btn" type='submit'>Add to Cart</button>
                            <input type="hidden" name="productId" value='<%= id%>'>
                        </form>
                    <% } %>
                </div>
            </article>
            <% })%>
        </div>
        <%- include('../includes/pagination.ejs')%>
        <% } else {%>
            <h1>No products found....</h1>
        <% }%>
        </main>
<%- include('../includes/foot.ejs')%>

